* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.links li {
    list-style-type: none;
}

.container {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;   
}

.sect-container {
    width: 70%;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.border {
    border: 1px dashed black;
}

/* HEADER */
header {
    height: 40px;
    background-color: #add8e6;
}

.links {
    flex-grow: 1;
}

.c2 {
    display: flex;
    justify-content: center;
    padding: 0 140px;

}

li {
    margin: 0 .5rem;
}
.col {
    border: 1px dashed black;
    background-color: #daa520;
}
.flex-container {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    min-height: 35px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.c1 {
    padding-right: 90px;
    width: 20%;
}

.c3{
    padding-left: 90px;
    width: 20%;
    text-align: right;
}

/* HERO */
.hero {
    background-color: #00008b;
    min-height: 400px;
}
.hero-cont {
    width: 40%;
    margin: 0 auto;
    padding-top: 50px;
}
.hero-sect {
    min-height: 300px;
    width: 100%;
    background-color: #ee82ee;
    border: 1px dashed black;
}

/* CONTENT */
.white-sect {
    background-color: white;
    min-height: 500px;
    padding-top: 50px;
}
.w-sect-col1 {
    width: 60%;
    min-height: 400px;
    background-color: #1e90ff;
}
.w-sect-col2 {
    width: 40%;
    min-height: 400px;
    background-color: #ffc0cb;
}
.normal {
    min-height: 500px;
    padding-top: 50px;
}
.gray-sect {
    background-color: #d3d3d3;
}
.g-sect-col1 {
    width: 40%;
    min-height: 400px;
    background-color: #ffc0cb;
}
.g-sect-col2{
    width: 60%;
    min-height: 400px;
    background-color: #1e90ff;
}
.big {
    min-height: 900px;
    padding-top: 50px;
}
.big-cont {
    width: 100%;
    min-height: 800px;
    background-color: #228b22;
}
